* {
	margin: 0;
	padding: 0;

}

body {
	background-color: #3399cc;
	font-family: sans-serif;
	
}

.full-container {
	width: 60%;
	color: white;
	margin: 0 auto;
	padding: 20px 0 20px;
}

.niz {
	font-size: 12px;
}


h1 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.1px;
}

.container {
	width: 100%;
	background-color: white;
	font-size: 0;
	margin: 0 auto;
	margin: 20px 0 20px;
	border: 2px solid white;

	
}



li {
	width: 30%;
	display: inline-block;

	font-size: 14px;
	background-color: green;
	border: 2px solid white;
		box-sizing: border-box;
		padding: 14px;
		transition: .25s;

}





li:hover {
	/*background-color: #fff;*/
	opacity: 0.5;
	cursor: pointer;
}

.small {
	width: 25%;
}

.big {
	width: 50%;
}

.verybig {
	width: 100%;
}

.container li a {
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 100%;		 			 
	margin: 14px auto;
	letter-spacing: 1.1px;
}


li p {

	margin-top: 8px; 
	font-size: 16px;

}


.container li a i {
	margin-left: 3px;
}

.blue {
	background-color: #3399cc;
}

.light-blue {
	background-color: #33cccc;	
} 

.purple {
	background-color: #996699;
}

.red {
	background-color: #c24747;
}

.orange {
	background-color: #e2674a;
}

.yellow {
	background-color: #ffcc66;
}

.gray {
	background-color: #669999;
}

.pink {
	background-color: #cc6699;
}

.green {
	background-color: #339966;
} 

.violet {
	background-color: #666699;
}


/*ГитХаб - пароль - qwerty123 Seolena*/

/*Ниже - про гит Хаб*/
/*репозиторий - местро на каждый проект, где будет храниться мой код, условно это папки*/
/*переключение между командами - checkout*/
/*удалённый репозиторий и локальный бывает*/
/*Push - отправка на ветку (отправляется на ту ветку, где работала)*/
/*контрол шифт П - вызов пэкедже контроля и установка плагина Терминал*/
/*как пройти в терминал - пуск, потом набрать cmd, (открыть от админа), потом набрать cd ../  (change directory) - внутри панели (это если не установлен терминал)*/

/*контрол + шифт + альт Т - так открывается терминал - сразу в нужной папке*/
/*Названия папок лучше латинскими буквами делать*/

/*ссылка на репозиторий копируется обязательно в корень*/

/*для того чтобы прописать вручную - находим надиске С, куда прописался Гит, захожу в эту папку и копирую путь к папочке гита*/
/*Скопировали путь кпапке и нажимаем Система - дополнительные параметры*/

/*git status - команда, а потом гит Эдд*/ 
/*git add css слэш звздочка - так зальютсявсе файлы, которые в папке css*/
/*клавишами вверх вниз возращаются уже написанные команды*/

/*git add . - это чтобы добавить абсолютно все сайты */

/*git commit -m "habr menu" - сохраняем изменения с комментом в кавычках*/

 /*git push -u origin master - запушиваем на репозитоории  - теперь все файлы будут доступны*/

/* если уже писали , то заливаем списком этих команд

 git add (git add . - все документы, или же через пробел указать все документы)
 git commit (-m "коммент") - команда фиксирует все изменения на локальном компьютере
 git push*/
 /*Локальный репозиторий - это файлы на нашем компе. Удалённый - на гитхаб*/
 /*Как создаётся ветка ГШ пэджез*/

 /*git Branch gh-pages... - это для создания отдельной ветки. По умолчанию мы работаем в ветке Мастер*/

/*для перехода на новую ветку - 
первая синхронизация - rebase
не первая синхронизация - marge
 git pull - приучать себя работать начиная с этой команды (типа вдруг кто то изменения внёс)

*/

/*Для чего команда check out?*/

/* gh-pages - это название для новой ветки */
/*git branch gh-pages для сощдания новой ветки*/
/*git checkout gh-pages - переключиться на новую нашую ветку */


/*ДЗ: создать два репотория и одно дз задить на один репозиторий, а другой - на другой.*/


/*git pull - команда чтобы получить код когда мы только начинаем работать*/


/*Как делиться на гитхабе */
/*Сеттингс - колабораэторс (если просит ввести пароль - вводим пароль) и дальше вводим почтовый адрес того, с кем хотим поделиться ссылкой*/


/*Как сохранять изменения - удаляем всё белое и оставляем нужный кусок кода и сохраняем*/